# Add any directories, files, or patterns you don't want to be tracked by version control
*.dcu
*.bpl
__history/
__recovery/
Win32/
Projects/ORMBr Dependencies/ORMBrDependencies.dproj.local
Source/CQLBr/cqlbr.inc
Source/CQLBr/Core/
Source/CQLBr/Drivers/
Source/DBCBr/Core/
Source/DBCBr/Drivers/
Source/DBEBr/dbebr.inc
Source/DBEBr/Core/
Source/DBEBr/Drivers/
*.identcache
Examples/Data/Blob/Exemplo_ORMBr.exe
